@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2a94f4;
  --secondary-color: #00c278;
  --text-off-white: #e9eaee;
  --text-off-white-deep: #c9c9c9;
  --primary-background-color: #313131;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--primary-background-color);
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
